@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

:root{
  --background: hsl(222, 26%, 31%);
  --background-keyboard: hsl(223, 31%, 20%);
  --background-result: hsl(224, 36%, 15%);

  --background-buttons-numbers: hsl(30, 25%, 89%);
  --background-buttons-numbers-shadow: hsl(28, 16%, 65%);
  --background-buttons-numbers-hover: hsl(0, 0%, 100%);

  --background-delete-buttons: hsl(225, 21%, 49%);
  --background-delete-buttons-shadow: hsl(224, 28%, 35%);
  --background-delete-buttons-hover: hsl(218deg 53% 74%);

  --background-buttons-key-toggle: hsl(6, 63%, 50%);
  --background-buttons-key-toggle-shadow: hsl(6, 70%, 34%);
  --background-buttons-key-toggle-hover: hsl(4deg 100% 67%);
  
  --color-buttons-numbers: hsl(221, 14%, 31%);
  --color-text: #fff;
}

.light{
  --background: hsl(0, 0%, 90%);
  --background-keyboard: hsl(0, 5%, 81%);
  --background-result: hsl(0, 0%, 93%);

  --background-buttons-numbers: hsl(45, 7%, 89%);
  --background-buttons-numbers-shadow: hsl(35, 11%, 61%);
  --background-buttons-numbers-hover: hsl(0, 0%, 100%);

  --background-delete-buttons: hsl(185, 42%, 37%);
  --background-delete-buttons-shadow: hsl(185, 58%, 25%);
  --background-delete-buttons-hover: hsl(182deg 82% 41%);

  --background-buttons-key-toggle: hsl(25, 98%, 40%);
  --background-buttons-key-toggle-shadow: hsl(25, 99%, 27%);
  --background-buttons-key-toggle-hover: hsl(23deg 100% 60%);
  
  --color-buttons-numbers: hsl(60, 10%, 19%);
  --color-text: hsl(60, 10%, 19%);

}

.violet{
  --background: hsl(268, 75%, 9%);
  --background-keyboard: hsl(268, 71%, 12%);
  --background-result: hsl(268, 71%, 12%);

  --background-buttons-numbers: hsl(268, 47%, 21%);
  --background-buttons-numbers-shadow: hsl(290, 70%, 36%);
  --background-buttons-numbers-hover: hsl(272deg 54% 43%);

  --background-delete-buttons: hsl(281, 89%, 26%);
  --background-delete-buttons-shadow: hsl(285, 91%, 52%);
  --background-delete-buttons-hover: hsl(288deg 58% 43%);

  --background-buttons-key-toggle: hsl(176, 100%, 44%);
  --background-buttons-key-toggle-shadow: hsl(177, 92%, 70%);
  --background-buttons-key-toggle-hover: hsl(178deg 100% 64%);
  
  --color-buttons-numbers: hsl(52, 100%, 62%);
  --color-text: hsl(52, 100%, 62%);;

}

body{
  background-color: var(--background);
  color: var(--color-text);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* -------------- Header With CONTROL-THEME----------------  */

header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header section{
  display: flex;
  align-items: flex-end;
  position: relative;
}

header section h5{
  margin-bottom: 5px;
  margin-right: 20px;
}

.control-theme div:first-child{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 3px;
}

.control-theme label{
  font-size: 13px;
  cursor: pointer;
}

.options-theme{
  display: flex;
  gap: 5px;
  background-color: var(--background-keyboard);
  padding: 5px;
  border-radius: 20px;
}

.options-theme input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--background-buttons-key-toggle);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  opacity: 0;
  border: 0;
  cursor: pointer;
}

.options-theme input:hover{
  background-color: var(--background-buttons-key-toggle-hover)
}

.options-theme input:checked{
  opacity: 1;
}

/* -------------- Resultados de la operacion ----------------  */

.result{
  background-color: var(--background-result);
  padding: 25px 20px;
  border-radius: 5px;
}

.result input{
  background-color: var(--background-result);
  font-size: 32px;
  border: none;
  color: var(--color-text);
  text-align: right;
  outline: none;
}

/* -------------- Teclado numerico ----------------  */
.keyboard{
  background-color: var(--background-keyboard);
  border-radius: 5px;
  padding: 25px;
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template: repeat(5,50px) / repeat(4,75px);
  grid-template-areas: 
  "t7 t8 t9 tdl"
  "t4 t5 t6 tmx"
  "t1 t2 t3 tmn"
  "tp t0 td tx"
  "tr tr ti ti";

} 

.keyboard button{
  background-color: var(--background-buttons-numbers);
  border: none;
  border-bottom: 3px solid var(--background-buttons-numbers-shadow) ;
  color: var(--color-buttons-numbers);
  font-size: 32px;
  border-radius: 5px;
  padding-top: 7px;
  cursor: pointer;
}

.keyboard button:hover{
  background-color: var(--background-buttons-numbers-hover);
}

.keyboard .tr{
  grid-area: tr;
}

.keyboard .ti{
  grid-area: ti;
  background-color: var(--background-buttons-key-toggle);
  border-color: var(--background-buttons-key-toggle-shadow);
}

.keyboard .ti:hover{
  background-color: var(--background-buttons-key-toggle-hover);
}

.keyboard .delete{
  background-color: var(--background-delete-buttons);
  border-color: var(--background-delete-buttons-shadow);
  font-size: 20px;
}

.keyboard .delete:hover{
  background-color: var(--background-delete-buttons-hover);
}

.keyboard .delete, .keyboard .ti{
  color: hsl(0, 0%, 100%);
}